.form {
    padding: 50px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    width: 800px;
    margin: 80px auto;
    background-color: rgb(255, 255, 255);
}

.stepperMargin {
    margin: 20px 0 50px;
}