.flexRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
    margin: 10px auto;
}

.fullWidth {
    width: 100%;
}