.form {
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 25px 40px;
}

.condition {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin: 30px;
}

.centered {
    text-align: center;
    background-color: rgb(245, 245, 245);
    min-height: 30px;
}